<button class="mdc-fab" aria-label="Favorite">
  <span class="mdc-fab__icon material-icons">favorite</span>
</button>

<hr>
<h3>Goal: Make this button shaped like the Corner rectangle with an Icon + Create a Component for that button type:</h3><br>

<button mat-raised-button color="primary"  class="gix-button-shadow gix-corner-rectangle-button">  
    <mat-icon>add</mat-icon> 
     <span class="gix-button-corner-rectangle-label">Create</span>
</button>

<br><br>
.gix-button-corner-rectangle-label
<br><br>
<button mat-raised-button color="primary"  class="gix-button-shadow gix-corner-rectangle-button">
  
    <mat-icon>add</mat-icon> 
     <span  >Create</span>
</button>
<br><br><br>

<hr><br><br><br>
<button mat-raised-button color="primary"  class="ORIGINAL_NO_EFFECT_TO_OBSERVE_CONTRAST">
  
    <mat-icon>add</mat-icon>
    <span>Create</span>
  
</button>
<br><br>
<br><br>
<hr>
<!--@feature gix-button-twolcorner-->
<h5> A Nice rouded only at two corner and sharp at the other FAB</h5>
<h6>CSS CLASS: gix-button-twolcorner</h6>
<button mat-fab color="primary" class="gix-button-twolcorner">
  <mat-icon>add</mat-icon>
</button>
<hr>
<br><br>
 
<button mat-fab color="primary">
  <mat-icon>add</mat-icon>
</button>
<br><br>

<hr>

<hr>
<br><br>
<br><br>
<hr>
<hr>
<h3>Fab Buttons</h3>
<div class="example-button-row">
  <button mat-fab>Basic</button>
  <button mat-fab color="primary">Primary</button>
  <button mat-fab color="accent">Accent</button>
  <button mat-fab color="warn">Warn</button>
  <button mat-fab disabled>Disabled</button>
  <button mat-fab>
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </button>
  <a mat-fab routerLink=".">Link</a>
</div>