<p>
  xshaping-buttons works!
  @STCGoal: Mastery Shaping Buttons <br>
# Vision : My designed buttons are just great and I love them
# CR: Shaped a button using CSS
</p>
<hr>
<p>Using the component: xbutton-floating-action-button</p>
<xbutton-floating-action-button></xbutton-floating-action-button>
<h2>FAB Corner Sharp button</h2>
<button class="x-fab-corner-sharp"><mat-icon>add</mat-icon></button>
<h2>Corner rectangle button</h2>
<button class="mdc-fab demo-fab-shaped--three mdc-fab--extended mdc-ripple-upgraded" 
	aria-label="Create" style="/* --mdc-ripple-fg-size:76px; *//* --mdc-ripple-fg-scale:1.95411; *//* --mdc-ripple-fg-translate-start:46px, -10.4375px; *//* --mdc-ripple-fg-translate-end:25.3438px, -10px; */">

	<i class="mdc-fab__icon material-icons">add</i>
	<span class="mdc-fab__label">Create</span>

</button>

<hr>
<button class="circle">My Circle</button>

<hr>
 

<h3>Icon Buttons</h3>
<div class="example-button-row">
  <button mat-icon-button>
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </button>
  <button mat-icon-button color="primary">
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </button>
  <button mat-icon-button color="accent">
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </button>
  <button mat-icon-button color="warn">
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </button>
  <button mat-icon-button disabled>
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </button>
</div>
<h3>Basic Buttons</h3>
<div class="example-button-row">
  <button mat-button>Basic</button>
  <button mat-button color="primary">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>
  <button mat-button disabled>Disabled</button>
  <a mat-button routerLink=".">Link</a>
</div>

<h3>Raised Buttons</h3>
<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button routerLink=".">Link</a>
</div>



<hr>

<gixendof [goal]="stc.goal" [path]="stc.path" [state]="stc.state" [content]="stc.content" [resources]="stc.resources"></gixendof>

<hr>
